.git
.gitignore
.gitattributes

.github

docker-compose.yml
**/Dockerfile
.docker
.dockerignore

README.md
tasks.py
.gitmessage.txt
.pre-commit-config.yaml
.pylintrc
pylint_import_hook.py

**/.env*
**/.venv
.vscode
**/__pycache__
**/logs
**/tests
**/.pytest_cache
